/* Font Families paste 
font-family: "Open Sans", sans-serif;
font-family: "Rokkitt", serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percertage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* h1 Small */
h1 {
  font-family: "Rokkitt", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
  color: #000000;
}
