/* //////NAV MENU OPEN CLOSE TOGGLE////// */
.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
